@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

p {
  @apply font-serif;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

p {
  @apply text-xl;
}

.App.light {
  background-color: #f8fafc;
  color: black;
  /* border-color: black; */
}

.App.dark {
  background-color: rgb(0, 17, 82);
  color: #cbd5e1;
  /* border-color: #cbd5e1; */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
