*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: lightgray;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(45, 105, 202);
}

.nav_brand {
  text-transform: uppercase;
  font-weight: bold;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav_toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: lightgray;
}

.nav_toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
  }
  .nav-menu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background: rgb(45, 105, 202);
    flex-direction: column;
    transform: translateX(100%);
  }
}
